<div class="groups row">
  <div class="col-md-12">
    <h2>{{t 'Groups'}}
      {{#if App.currentUser.id}}
        {{#link-to 'groups.create' classNames="btn btn-primary"}}
          {{t 'Create group'}}
        {{/link-to}}
        <hr>
      {{/if}}
    </h2>
  </div>
  {{#each controller}}
    {{render 'group/teaser' this}}
  {{else}}
    <div class="col-md-12">
      <p>{{t 'No groups found'}}</p>
    </div>
  {{/each}}
</div>
