<div class="user-full well">
  <div class="panel panel-default">
    <div class="header panel-body">
      <div class="user-area-data row">
        <div class="user-area-data-left col-md-2" >
          <span class="avatar-large">{{we-avatar userId=id size="medium"}}</span>
          <div class="language-area">{{language}}</div>
        </div>
        <div class="user-area-data-rigth col-md-10">
          <h1 class="user-name">{{username}}</h1>
          <p class="user-bio">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="activities row">

    <div class="activities-left col-md-5">
        adicionar os blocos aqui ...
    </div>

    <div class="activities-right col-md-7">
      <h3>{{t 'Activity'}}</h3>
     {{render 'post/list' activities controller='Home'}}
    </div>

  </div>

  <div class="footer">
    <div class="actions">
        <span class="social pull-left">
          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
                <span class="glyphicon glyphicon-plus"></span>{{t 'Add in contacts'}}
          </button>
          <button type="button" class="btn btn-xs btn-default" data-ng-click="share($event)">
                <span class="glyphicon glyphicon-plus"></span>{{t 'Follow'}}
          </button>
        </span>

        <button type="button" class="btn btn-xs btn-default" data-ng-click="edit($event)">
          <span class="glyphicon glyphicon-edit"></span>{{t 'Edit'}}
        </button>
        <button class="btn btn-xs btn-danger" data-ng-click="delete($index,$event)">
          <span class="glyphicon glyphicon-remove"></span>{{t 'Delete'}}
        </button>
    </div>
  </div>
</div>


{{outlet}}