{{#if isVisible}}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" class="dropdown-toggle user-menu-link" data-toggle="dropdown">
      <span class="avatar-small">{{we-avatar userId=user.id}}</span>
      <span class="user-name " >{{user.username}}</span><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#ChangeAvatarModal" {{action "showAvatarChangeModal"}} >
          {{t 'Change avatar'}}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        {{#link-to 'user' user.id}}
          {{t 'View profile'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'user.edit' user.id}}
          {{t 'Edit Profile'}}
        {{/link-to}}
      <li class="divider"></li>
      <li><a href="/auth/logout" class="">{{t 'Sair'}}</a></li>
    </ul>
  </li>
</ul>
{{/if}}