{{#if isVisible}}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" class="dropdown-toggle user-menu-link" data-toggle="dropdown">
      <span class="avatar-small">{{render 'avatar/image' user}}</span>
      <span class="user-name " >{{user.username}}</span><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#ChangeAvatarModal" {{action "showAvatarChangeModal"}} >
          {{t 'Change avatar'}}
        </a>
      </li>
      <li class="divider"></li>
      <li><a href="/user/537035d1fa197b3d710f9fa6" class="">{{t 'View profile'}}</a></li>
      <li><a href="/user/537035d1fa197b3d710f9fa6/edit/" class="">{{t 'Edit Profile'}}</a></li>
      <li class="divider"></li>
      <li><a href="/auth/logout" class="">{{t 'Sair'}}</a></li>
    </ul>
  </li>
</ul>
{{/if}}