

<div class="panel panel-default">
  <div class="panel-body">
    <aside class="form-signup">
      <h2 class="form-signin-heading">
        {{t "Change password"}}
        <br>
      </h2>

      {{we-sys-messages messages=messages}}

      <form  {{action "submit" on="submit"}} name="changePasswordForm" class="user-signup-form" method="POST">
        <!-- input: oldpassword -->
        <div class="form-group">
          <div class="input-group">
            <label for="oldpassword" class="input-group-addon">{{t 'Current password'}}</label>
            {{input name="oldpassword" value=user.oldpassword  type="password" placeholder=oldpasswordPlaceholder required="true" classNames="form-control input-lg"}}
          </div>
        </div>
        <!-- /input: oldpassword -->

        <!-- input: password -->
        <div class="form-group">
          <div class="input-group">
            <label for="password" class="input-group-addon">{{t 'New password'}}</label>
            {{input name="password" value=user.password  type="password" placeholder=passwordPlaceholder required="true" classNames="form-control input-lg"}}
          </div>
        </div>
        <!-- /input: password -->

        <!-- input: repeatpassword -->
        <div class="form-group">
          <div class="input-group">
            <label for="repeatpassword" class="input-group-addon">{{t 'Repeat new password'}}</label>
            {{input name="repeatpassword" value=user.repeatpassword  type="password" placeholder=passwordPlaceholder required="true" classNames="form-control input-lg"}}
          </div>
        </div>
        <!-- /input: repeatpassword -->

        {{we-sys-messages messages=messages}}


        <div class="form-group">
          <div class="input-group">
            <button class="btn btn-lg btn-success " type="submit">
              {{t "Change"}}
              <span class="glyphicon glyphicon-chevron-right"> </span>
            </button>
          </div>
        </div>

      </form>
    
    </aside>
  </div>
  <div class="panel-footer">
  </div>
</div>
