<h1>{{t 'Forgot Password form'}}</h1>
<br>
<div class="well">
  <form {{action requestPasswordChange on="submit"}} action="/auth/forgot-password" method="post" class="form">
    <h4>{{t 'Enter you e-mail address to request a password change.'}}</h4>
    <br>

    {{we-sys-messages messages=messages}}

    {{#if requestSend}}

      verifique seu email ou sua caixa de spam

    {{else}}

      <div class="input-group text-center">
      {{input name="email" value=email  type="email" placeholder=emailPlaceholder classNames="form-control input-lg" required="true"}}
        <span class="input-group-btn">
          <button {{action requestPasswordChange}} class="btn btn-lg btn-primary" type="button">{{t 'Send email'}}</button>
        </span>
      </div>

    {{/if}}

  </form>

</div>