{{isVisible}}
{{#bs-button  clicked="show"  type="success" classNames="btn navbar-login-buttom navbar-btn"}}
  <span class="glyphicon glyphicon-log-in"></span> {{t Login}}
{{/bs-button}}


{{#bs-modal name="AuthLoginModal" email=controller.email  password=controller.password fade=false }}

<form class="form center-block" role="form" name="loginForm" method="post" {{action "login" on="submit"}}>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">×</button>
  {{t "Login Form"}}
</div>

<div class="modal-body">

  <!-- form-login -->
  <div class="form-login" data-ng-controller="LoginCtrl" data-ng-hide="authorized">
      <div class="form-group">
        <label class="sr-only">{{t 'Email address'}}</label>
        {{input name="email" value=controller.email  type="email" placeholder=controller.emailPlaceholder classNames="form-control input-lg"}}
      </div>

      <div class="form-group">
        <label class="sr-only">{{t "Password"}}</label>
        {{input value=controller.password type="password" placeholder=controller.passwordPlaceholder classNames="form-control input-lg"}}
      </div>

    <p class="login-form-links">
      <a class="link" href="/auth/forgot-password"><span class="glyphicon glyphicon-question-sign"></span> {{t "Forgot password?"}}</a>
      |
      <span class="glyphicon glyphicon-log-in"></span><a class="link" href="/auth/register"> {{t "Register"}}</a>
    </p>

  </div>
  <!-- /form-login -->

</div>

<div class="modal-footer">

<div class="row">
  <div class=" col-sm-6">
    <button id="loginButton" class="pull-left btn btn-primary" type="submit">{{t "Sign in"}}</button>
  </div>

  <p class="login-form-links col-sm-6">
    <a class="link" ng-click="closeModal()" href="/auth/forgot-password"><span class="glyphicon glyphicon-question-sign"></span> {{t "Forgot password?"}}</a>
    |
    <span class="glyphicon glyphicon-log-in"></span><a class="link"  href="/auth/register"> {{t "Register"}}</a>
  </p>
</div>

</form>


{{/bs-modal}}




