<h1>Oi! Teste Token.</h1>
<!--
{{#if isVisible}}
<div class="panel panel-default">
  <div class="panel-heading">
    {{partial 'partials/home-about-site'}}
  </div>
  <div class="panel-body">

<aside class="form-signup">
  <h2 class="form-signin-heading">
    {{t "Create account"}}
    <br>
  </h2>
  {{we-sys-messages messages=messages}}

  <form  {{action "submit" on="submit"}} name="createAccountForm" class="user-signup-form" method="POST">
    <!-- input: username 
    <div class="form-group">
      <div class="input-group">
        <label for="name" class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </label>
        {{input name="username" value=user.username  type="text" placeholder=usernamePlaceholder required="true" classNames="form-control input-lg"}}
      </div>
    </div>
    <!-- /input: username 

    <!-- input: email 
    <div class="form-group">
      <div class="input-group">
        <label for="email" class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </label>
        {{input name="email" value=user.email  type="email" placeholder=emailPlaceholder classNames="form-control input-lg" required="true"}}
      </div>
      <div class="message" data-ng-repeat="message in user.email.messages">
        <div class="message.type">{{message.message}}</div>
      </div>
    </div>
    <!-- /input: email -->

    <!-- input: password 
    <div class="form-group">
      <div class="input-group">
        <label for="password" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"> </span>
        </label>
        {{input name="password" value=user.password  type="password" placeholder=passwordPlaceholder required="true" classNames="form-control input-lg"}}

        <!-- input: confirm-password 
        <label for="confirm-password" class="sr-only input-group-btn">

        </label>
        {{input name="confirmPassword" value=user.confirmPassword  type="password" placeholder=confirmPasswordPlaceholder required="true" classNames="form-control input-lg"}}
        <!-- /input: confirm-password 
      </div>
    </div>
    <!-- /input: password 

    <div class="form-group">
      <div class="input-group">
        <label for="language" class="input-group-addon">
          <span class="glyphicon glyphicon-globe"></span> {{t 'Language'}}
        </label>
        {{view Ember.Select name="language" value=user.language content=defaultlanguages classNames="form-control input-md"}}
      </div>
    </div>


  {{we-sys-messages messages=messages}}


    <div class="form-group">
      <div class="input-group">
        <button class="btn btn-lg btn-success " type="submit">
          {{t "Sign up"}}
          <span class="glyphicon glyphicon-chevron-right"> </span>
        </button>
      </div>
    </div>


    <div class="input-group">
      <div class="agree-terms">
        {{t "By clicking Sign Up, you agree to: We dont are responsible for anything that may happens to your data in this test system"}}
      </div>
    </div>

  </form>


</aside>

  </div>

  <div class="panel-footer">

  </div>


</div>

{{/if}}
--->