<div class="public-room-container">
<div class="messenger-column">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div {{action 'toggleList'}} class="header">
        <span class="contact-name">{{t "Public"}}</span>
      </div>
      <div class="actions">
        <button {{action 'closeList'}} type="button" class="remove btn btn-danger btn-xs pull-right">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>

      {{#if isListOpen}}

      <div scrollTo="bottom" id="messengerBox-public" class="messages">

        {{#each messages}}
          {{view  App.MessengerContactView message=this}}
        {{/each}}

        <div id='messenger-after-contacts'></div>
      </div>

      <div class="footer">
        <form {{action "sendMessage" on="submit"}} >
          <div class="input-group">

            {{input name="messageNew" value=messageNew  type="text" placeholder=messagePlaceholder required="true" classNames="input-xs"}}

            <span class="input-group-btn">
              <button  {{action "sendMessage"}} class="btn btn-xs btn-primary" type="submit">{{t "Send"}}</button>
            </span>
          </div>
        </form>
      </div>

      {{/if}}
    </div>
  </div>
</div>
</div>
