<div class="masonry-brick content-block post">

<div class="post-teaser teaser panel panel-default">

  <div class="header panel-heading">
    <span class="creator">
      {{#link-to 'user' creator.id}}
        <span class="creator-avatar avatar-small">{{we-avatar userId=creator.id}}</span>
        <span class="creator-name">
          {{creator.username}}
        </span>
      {{/link-to}}
    </span>
    <a {{action 'showSharedWith'}} href="#" class="shared-with text-mute">
      <span class="glyphicon glyphicon-globe"></span>
    </a>
    <span class="createdAt post-created-at">{{format-date createdAt}}</span>
  </div>

  <div class="panel-body">
    {{#if isEditing}}
      <form class="edit-post" role="form">
        <div class="form-group">
          {{we-wysiwyg-editor name="body" value=body onPaste="onPasteInBody"}}
        </div>

        <div class="form-group">
          <div class='row'>
            {{#each videos}}
              <div class='col-md-6'>
                {{we-video-preview url=this onRemove="onRemoveVideo"}}
              </div>
            {{/each}}
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label for="toId" class="input-group-addon">{{t "To"}}:</label>
            {{we-select2 shareWithOptions=App.currentUser.shareWithOptions shareWithUsers=shareWithUsers shareInGroups=shareInGroups}}
          </div>
        </div>

        <div class="actions form-group">
          <button type="button" class="btn btn-primary" {{action 'save'}} >
            <span class="glyphicon glyphicon-ok"> {{t 'Save'}} </span>
          </button>
          <button type="button" class="btn btn-default" {{action 'cancel'}} >
            <span class="glyphicon glyphicon-remove"> {{t 'Cancel'}} </span>
          </button>
        </div>
      </form>
    {{else}}

      <div class="content">
        <div class="post-text">{{{body}}}</div>

        <div class="videos">
          {{#each videos}}
            {{we-video url=this}}
          {{/each}}
        </div>

      </div>

      <div class="footer">
          <div class="actions">
              <span class="social">
                  <button type="button" class="btn btn-xs btn-default" data-ng-click="up($event)">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                  <button type="button" class="btn btn-xs btn-default" data-ng-click="down($event)">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  </button>
              </span>

              <button type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-share-alt"></span> {{t 'Share'}}
              </button>

              {{#can editPost model}}
                <button type="button" class="btn btn-xs btn-default" {{action 'edit'}}>
                  <span class="glyphicon glyphicon-edit"></span> {{t 'Edit'}}
                </button>
              {{/can}}

              {{#can deletePost model}}
                <button class="btn btn-xs btn-danger" {{action 'deleteItem'}}>
                  <span class="glyphicon glyphicon-remove"></span> {{t 'Delete'}}
                </button>
              {{/can}}
          </div>
      </div>
    {{/if}}
  </div>

  <div class="panel-footer">
    {{#if hasMoreComments}}
      <div class="comments-header">
        <span>Total de {{commentCount}} comentarios.</span>

        <a {{action 'loadAllComments'}} href="#mostrar-comment" class="btn btn-default btn-xs">Mostrar todos</a>
      </div>
      <hr>
    {{/if}}
    <div class="comments">

      {{#each comments}}
        {{render 'comment/item' this}}
      {{/each}}
    </div>
    {{we-comment-form creatorId=App.currentUser.id post=model store=store}}

  </div>
</div>
</div>
