<form role="form" {{action "submit" on="submit"}}>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{t 'Create group'}}</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <label for="name" class="input-group-addon">{{t 'Group name'}}</label>
        {{input id="name" name="name" value=group.name type="text" placeholder="Enter group name" required="true" classNames="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="privacity" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
          {{t 'Privacity'}}
        </label>
        {{view Ember.Select name="Privacity" value=group.privacity optionValuePath="content.value" optionLabelPath="content.label" content=privacityList classNames="form-control"}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">{{t 'Create'}}</button>
  </div>
</div>
</form>