<div class="actions">
  <div class="btn-group btn-group-sm">
    <button {{action 'unFollow'}} type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span>
      Sequindo
    </button>

    <div class="btn-group btn-group-sm">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownGroupActions" data-toggle="dropdown">
        {{t 'Actions'}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownGroupActions">
        <li role="presentation">
         <a href="#d" {{action 'editItem'}} role="menuitem" tabindex="-1" >
            <span class="text-primary glyphicon glyphicon-pencil"></span>
            {{t 'Edit'}}
          </a>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <a href="#d" {{action 'deleteItem'}} role="menuitem" tabindex="-1" >
            <span class="text-danger glyphicon glyphicon-remove"></span>
            {{t 'Delete'}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>