<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/main.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->

    <script data-main="/angularjs/main" src="/js/libs/require.js"></script>


  </head>

  <body>
    <main role="main" class="social-theme">
      <!-- navbar -->
      <%- include ../partials/navbar.ejs %>
      <!-- /navbar -->

      <!-- /angular js main area -->
      <div data-ui-view>
        <%- body %>
      </div>

      <!-- /angular js dinamic sidebar -->
      <div data-ui-view="sidebar"></div>
    </main>

    <!-- footer -->
    <%- include ../partials/footer.ejs %>
    <!-- /footer -->

    </body>
</html>
