<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script data-main="/angularjs/main" src="/js/libs/require.js" data-dump="/angularjs/main.js"></script>
    <!--SCRIPTS END-->

    <style>
      [ng\:cloak] main,
      [ng-cloak] main,
      [data-ng-cloak] main,
      [x-ng-cloak] main,
      .ng-cloak main,
      .x-ng-cloak main,
      [ng\:cloak] footer,
      [ng-cloak] footer,
      [data-ng-cloak] footer,
      [x-ng-cloak] footer,
      .ng-cloak footer,
      .x-ng-cloak footer{
        display: none !important;
      }

    </style>

  </head>

  <body ng-cloak>

    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">

          <!-- sidebar -->
          <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

              <!-- /angular js dinamic sidebar -->
              <div class="sidebar-area">
                <we-region name="sidebar"></we-region>
              </div>

              <!-- form-login -->
              <login-form></login-form>
              <!-- /form-login -->


              <ul class="nav">
                <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
              </ul>

              <ul class="nav hidden-xs" id="lg-menu">
                  <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
                  <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
              </ul>


                <!-- tiny only nav-->
                <ul class="nav visible-xs" id="xs-menu">
                    <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                    <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                </ul>

          </div>
          <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- navbar -->
                <%- include ../partials/navbar.ejs %>
                <!-- /navbar -->

                <div class="padding">
                    <div class="full col-sm-9">

                        <!-- content -->
                        <div class="row">

                          <div class="col-md-12">
                            <!-- /angular js main area -->
                            <div data-ui-view="highlighted"></div>
                          </div>


                          <!-- main col right -->
                          <div class="col-sm-8">
                            <div data-ui-view>
                              <%- body %>
                            </div>
                          </div>
                         <!-- main col left -->
                        <div class="col-sm-4">
                            <we-news></we-news>
                         </div>

                       </div><!--/row-->

                        <!-- footer -->
                        <%- include ../partials/footer.ejs %>
                        <!-- /footer -->

                      <hr>


                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>

      <div data-we-messenger></div>

    <div class="site-loading text-center">
      loading ...
    </div>

    </div>
</div>

</body></html>