<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/styles/less/styles.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->

    <script data-main="/angularjs/main" src="/js/libs/require.js"></script>

    <style>
      [ng\:cloak] main,
      [ng-cloak] main,
      [data-ng-cloak] main,
      [x-ng-cloak] main,
      .ng-cloak main,
      .x-ng-cloak main,
      [ng\:cloak] footer,
      [ng-cloak] footer,
      [data-ng-cloak] footer,
      [x-ng-cloak] footer,
      .ng-cloak footer,
      .x-ng-cloak footer{
        display: none !important;
      }

    </style>

  </head>

  <body ng-cloak>
    <main role="main" class="social-theme main" >
      <!-- navbar -->
      <%- include ../partials/navbar.ejs %>
      <!-- /navbar -->
      <div class="row">
        <div class="col-md-12">
          <!-- /angular js main area -->
          <div data-ui-view="highlighted"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div data-ui-view>
            <%- body %>
          </div>

          <!-- /angular js dinamic sidebar -->
          <div data-ui-view="sidebar"></div>
        </div>
      </div>

      <div data-we-messenger></div>

    </main>

    <!-- footer -->
    <%- include ../partials/footer.ejs %>
    <!-- /footer -->

    <div class="site-loading">
      loading ...
    </div>
    </body>
</html>
