Hi <%= user.name %>,

<p>
Someone (hopefully you) has requested a <strong>password reset</strong> for your <%= site.name %> account.
</p>
<p>
Follow the link below to set a new password:
<br>
<%= resetPasswordUrl %>
</p>
<p>
If you don't wish to reset your password, disregard this email and no action will be taken.
</p>
<br>
- The <strong><%= site.name %></strong> Team <br>
- <%= site.url %>
