<h1>Thanks for signing up for <%= site.name %>!</h1>

<h2>Email validation</h2>

<p>
  Hi <%= user.name %>,<br>
  <a text="Confirm link" href="<%= confirmUrl %>">Click here</a> or copy and paste the link below to confirm your email address and login in <%= site.name %>

  <b>Confirm link:</b> <%= confirmUrl %>
</p>

Cheers,
<%= site.name %> team