<tr {{bind-attr class='itemClass'}}>
  <td>
  {{id}}
  </td>
  <td>
  {{{text}}}
  </td>
  <td>
    <a {{action 'changeNotificedStatus'}} {{bind-attr class=itemClass}} >{{linkStatusText}}</a>
  </td>
</tr>