
<div class="messenger-column">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div {{action 'toggleList'}} class="header">
        <span class="messenger-status">{{contact.messengerStatus}}</span>
        <span class="contact-name">{{contact.name}}</span>
      </div>
      <div class="actions">
        <button {{action 'closeList'}} type="button" class="remove btn btn-danger btn-xs pull-right">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>

      <div class="action-bar">
        <button {{action 'openRoomBox'}} type="button" class="remove btn btn-xs">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

      <div {{bind-attr class=isListOpen}}>
        <div {{bind-attr id=boxId}} class="messages">
          {{#each messages}}
            {{render 'messenger/message' this}}
          {{/each}}
        </div>
        {{#if isWriting}}
        <div class="contact is-writing">
          {{avatar userId=contact.id}}<span class="is-writing-text"> {{t 'is writing ...'}}</span>
        </div>
        {{/if}}
        <div class="footer">
          <form {{action "sendMessage" on="submit"}} method="post">
            <div class="input-group">
              {{input name="messageNew" value=messageNew  type="text" placeholder=messagePlaceholder classNames="input-xs"}}
              <span class="input-group-btn">
                <button  {{action "sendMessage"}} class="btn btn-xs btn-primary" type="submit">{{t "Send"}}</button>
              </span>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>