<div  class="wrapper main">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">

      <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

          {{outlet sidebar}}

          <div class="sidebar-area">
            <we-region name="sidebar"></we-region>
          </div>

          <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
          </ul>

          <ul class="nav hidden-xs" id="lg-menu">
              <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
              <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
          </ul>
            <ul class="nav visible-xs" id="xs-menu">
                <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
            </ul>

      </div>

        <div class="column col-sm-10 col-xs-11" id="main">


            {{partial "partials/navbar" }}


            <div class="padding">
                <div class="full col-sm-9">
                {{#view App.LayoutView id="AppLayoutView"}}

                  <div class="row">
                    <div class="col-md-12">
                      {{outlet highlighted}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-8">
                      <div data-ui-view>
                        {{outlet mainLeft}}
                      </div>
                    </div>

                    <div class="col-sm-4">
                       {{outlet mainRigth}}
                    </div>

                </div>
                <div class='row'>
                  <div "col-md-12">
                      {{outlet}}
                  </div>
                </div>

                {{/view}}

                  {{partial 'partials/footer' }}

                  <hr>
                </div>
            </div>
        </div>

    </div>
    {{#if isAuthenticated}}
      {{we-messenger store=store}}
    {{/if}}
</div>
</div>