{{#if isAuthenticated}}
  <div id="posts" class="posts ">
      <div class="sharebox-area masonry-brick  content-block">
        {{render 'post/sharebox' postNew}}
      </div>
    <div class="new-posts-notification alert alert-info">
      TODO show new post notifications here
    </div>

    {{render 'posts/list' posts controller='Posts'}}

    {{we-timeline-loading loadingMore=loadingMore getMore=getMore}}

  </div>
{{else}}
  <div class="highlighted">
    {{render 'auth/registerForm' this controller='AuthRegister'}}
  </div>
{{/if}}
